# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
#

# containers and sandboxes
*.sif
*_sandbox/
daphne-src-mpi/
daphne-src/

# performance result folders
#results/connected_components/
results/nbody/
results/mergesort/
results/pi-approx/
# python-pre-experiments/results-py

# profiling results tooo large to commit.
python-pre-experiments/results-py/profiling/

# workflow files
smake/
# compiled cpp files
benchmark_scripts/connected_components-*/cpp/connected_components_*
.snakemake/
slurm_out/
# collect_environment*

# Node artifact files
node_modules/
dist/

# slurm out files
*.out

# Compiled Java class files
*.class

# Compiled Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.aux
*.bbl
*.bcf
*.blg
*.pdf
*.rubbercache
*.run.xml

*.mtx
*.tar.gz

matrices/**
